@import url("../js/TangleKit/TangleKit.css");

body {
    font-family:"ratio", helvetica, sans-serif;
    line-height: 1.5;
    background:#bbb;
}
.dataVar {
    font-weight: 500;
    background:#eee;
}
#wrapper {
    margin:0 auto;
    padding: 5%;
    max-width: 600px;
    background:#fff;
}
#example-wrapper {
    max-width: 95%;
    border: 2px solid #bbb;
    padding: 0 2.5% 1% 2.5%;
    border-radius:20px 20px 20px 20px;
}
h1 {
    margin-top:-1em;
    margin-bottom:-.5em;
    font-size: 1.6em;
    font-weight:700;
}

h2 {
    margin-bottom:-.5em;
    font-size:1.25em;
    font-weight:700;
}
